.header{
    display: flex;
    justify-content: space-between;

    .header_left{
        display: flex;
        align-items: center;
        .logo{
            margin: 1rem;
            width: 60px;
            cursor: pointer;
        }
    }
    .header_right{
        color: $basic;
        display: flex;
        align-items: center;
        
        .header_list{
            display: flex;
            list-style: none;
            
            li{
                padding: 0 2rem;
                font-size: $s-size;
                cursor: pointer;
            }

            .header_link{
                text-decoration: none;
                color:$basic;
            }
        }
    }
}


//***seach bar의 class name
.jwfbbd{
    width: 500px;
}

//AppRouter의 hr 태그 
.divider{
    margin: 0;
    border-top: $basic;
}