.gchoice_table{
    width: 500px;
    margin: 0 auto;
    color: $basic;
    hr.gchoice_hr{
        border-top: $basic;
    }
    td{
        .gchoice_flexbox{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       img{
           width: 25px;
           height: 25px;
           cursor: pointer;
       }
    }
}

.form_div{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
}

.btn_div{
    display: flex;
}
.gchoice_submit_btn{
    width: 100px;
    height: 40px;
    font-size: 1.7rem;
    color: white;
    border: none;
    background-color: $point;
    border-radius: 5px;
    text-align: center;
    margin: 30px auto;
}