.schedule_title{
    color: $basic;
}
.schedule_div{
    width: 919px;
    margin: 0 auto;
}

.schedule_super_div{
    height: auto;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
}

.schedule_traveler_info{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 1rem auto;
}

.schedule_traveler_pic{
    width: 200px;
}

//이미지 hover시 btn 이벤트용 css
.container {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px 0;
    img{
        border-radius: 20px;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 20px;
  }
  
  .container:hover .overlay, .container2:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .schedule_traveler_pic {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 0;
  }
  
  .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .container:hover .title, .container2:hover .title {
    top: 10px;
  }

  .info{
    position: absolute;
    width: 200px;
    left: 0;
    top: 70px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    margin-left: 3rem;
    opacity: 0;
    b{
        font-weight: 900;
        font-size: 20px;
    }
  }

  .container:hover .info, .container2:hover .info{
      opacity: 1;
  }
  
  .button1 {
    position: absolute;
    width: 90px;
    left:0;
    top: 230px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  
  .button1 p {
    width: 90px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    color: white;
    background: $point;
    border-radius: 1rem;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button2 {
    position: absolute;
    width: 90px;
    left: 100px;
    top: 230px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  
  .button2 p {
    width: 90px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    color: white;
    background: $point2;
    border-radius: 1rem;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
  }

  .container2 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px 0;
    img{
        border-radius: 20px;
    }
  }

  .button3 {
    position: absolute;
    width: 150px;
    left: 25px;
    top: 230px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  
  .button3 p {
    width: 150px;
    padding: 5px;
    margin: 0;
    text-align: center;
    color: white;
    background: $point;
    border-radius: 1rem;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
  }

  .container:hover .button1, .container:hover .button2, .container2:hover .button3 {
    opacity: 1;
  }
