@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap);


.boss2{
    // border: 1px solid gray;
    height: auto;
    margin: 0 200px;
}

.h1-Introduce{
    text-align: center;
    opacity: 0.7;
    margin-top: 100px;
}

.introduce{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;//이거 없으면 화면에 줄임표(...)표시가 안됨!
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    height: 4em; 

}

.toggle{
    line-height: normal;
}

.detail-introduce{
    width: 110px;
    color:#088A85;
}

.back-Introduce{
    width: 80px;
    color:#088A85;
}

.detail-introduce:hover{
    cursor: pointer;
    font-weight: bold;
}

.back-Introduce:hover{
    cursor: pointer;
    font-weight: bold;
}

// .detailBack:hover{
//     cursor: pointer;
//     font-weight: bold;
// }

// .detailBack{
//     color: #088A85;
//     width: 110px;
// }

.line-Introduce{
    border:2px solid gray;
    width:200px;
    opacity: 0.5;
    position: absolute;

}

.intro-ul{
    position: relative;
    top: 20px;
    right: 40px;
    line-height: 2em;
}

.ul-Introduce{

    li{
        list-style: none;
    }
}

.doubleQuestionMark{
    height: 60px !important;
    color: #EBEBEB !important;
    font-size: 130px !important;
    font-weight: 700 !important;
    font-family: 'Nanum Myeongjo', serif;
}
