.flexbox{
    display: flex;
    border:1px solid black;
}
.lookaround_image{
    width:10rem;
    height:10rem;
}
.title{
    width:20rem;
    text-align: center;
    color:$light;
    font-size: $m-size;
}
.lookaround_flexbox{
    display: flex;
    justify-content: space-between;
    margin-bottom:10rem;
}
.container{
    width:90%;
    margin:0 auto;
}
.spot{
    font-size:$m-size;
}
.font-small{
    font-size:$s-size;
}