@import './lookaround';

.result_flexbox{
    display: flex;
    font-size:$s-size;
    justify-content: space-around;
}

.result_component{
    width:17%;

}

.container_90{
    width:90%;
    margin:0 auto;
}

.result_textalign_center{
    text-align: center;
    font-weight: bold;
    color:$basic;
}

.result_host_img{
   max-width:150px;
}

.thumbnail-wrappper { width: 25%; }

.thumbnail { position: relative; padding-top: 100%; /* 1:1 ratio */ overflow: hidden;
    img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-width: 100%; height: auto; 
    cursor:pointer;}
 }

 .result_introduce{
    font-size:$s-size;
 }
 .result_header{
    font-size:$m-size;
 }
 .hr_margin{
     margin-top: 4rem;
     margin-bottom: 4rem;
 }