@import './imageUpload';

.reply_image_grid{
    width:5rem;
    border:1px solid black;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 5fr;
}
.line-from-me{
    text-align: right;
}
.line-from-other{
    text-align: left;
}

.chat-div{
    width:30%;
    margin:0 auto;
}